body {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    background: #f08080;
  }
  
  /*Title*/
  h1 {
    font-size: 60px;
    margin-bottom: -40px;
    margin-top: 0px;
    color: #f2f2f2;
  }
  
  /*Subtitle*/
  h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -10px;
  }
  
  /*Required Tag*/
  h6 {
    margin-top: -50px;
    color: red;
    text-align: center;
    font-size: 12px;
  }
  
  /*Name Submission*/
  h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 3px;
    margin-top: -10px;
    margin-bottom: -20px;
    font-family: 'Cutive Mono', monospace;
  }
  
  /*Email Submission Question*/
  h4 {
    font-size: 20px;
    text-align: left;
    margin-left: 3px;
    vertical-align: middle;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: 'Cutive Mono', monospace;
  }
  
  /*Age Submission Question*/
  h5 {
    font-size: 20px;
    margin-bottom: -10px;
    text-align: left;
    margin-top: -10px;
    margin-left: 3px;
    vertical-align: middle;
    font-family: 'Cutive Mono', monospace;
  }
  
  /* "*" */
  h7 {
    color: red;
  }
  
  /*Current Role Question*/
  h8 {
    font-size: 20px;
    margin-top: -30px;
    text-align: left;
    font-family: 'Cutive Mono', monospace;
  }
  
  /*Table border*/
   #borders{
    border: 1px solid #ccc;
    padding: 15px; 
  }
  
  /*Cream box survey is in*/
  .container{
  text-align: left;
  width:800px;
  max-width:70%;
  margin:10px auto;
  padding: 20px 12px 10px 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font: 13px Open Sans Condensed;
  border-color: #cbcbcb;
  border-style: solid;
  border-width: 50px;
    
  }
  
  /*Input box shape and size*/
  .input-field {
    height: 10px;
    width: 120px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
  }
  
  /*Dropdown box shape and size*/
  .dropdown {
    height: 25px;
    width: 140px;
    padding: 5px;
    margin: 10px;  
    margin-top: 20px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    display: flex;
    align: center;
  }
  
  /*Recommended Row*/
  h9 {
    font-size: 15px;
    margin-bottom: -20px;
    text-align: left;
    margin-top: -20px;
    margin-left: 0px;
    font-family: 'Cutive Mono', monospace;
  }
  
  /*keeps text in same line*/
  .rowTab{
    display: flex;
    align:center;
  }
  
  }
  
  /*buttens on left side*/
  .rightTab{
    display: flex;
    align: center;
    margin-top: -20px;
  }
  
  /*Would you recommend freeCodeCamp*/
  h10 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    font-family: 'Cutive Mono', monospace;
  }
  
  /*Select Option*/
  h11 {
    font-size: 20px;
    margin-bottom: -20px;
    text-align: left;
    margin-top: -20px;
    margin-left: 0px;
  }
  
  /*Checkbox Section*/
  .radio, .checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
  }
    
  /*Changes space of check box*/
  .userRatings,
  input[type="checkbox"] {
    float: left;
    margin-right: 5px;
  }
  
  /*Submit Button details*/
  #submit {
    background-color: black;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 30px;
    width: 86px;
    margin: 10px;
    border: 0px solid;
    margin-left: 325px;
    font-family: 'Cutive Mono', monospace;
  }
  
  /*Comment box*/
  }
    .input-field {
      width: 100%;
    }
  
  /*Comment or Suggestions*/
  h12 {
    margin-right: 20px;
    Font-size: 20px;
    font-family: 'Cutive Mono', monospace;
  }
  